@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B");

body {
  font-size: "Poppins", sans-serif;
  height: 100dvh;
}

.box-area {
  width: min(930px, 95%);
}

.input-group-text {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  color: #6b63fb;
}

@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }

  .profileform {
    overflow-y: hidden;
  }
}
